body{
    background-color:rgb(112, 118, 125);
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2em;
    text-align: center;
}

.buttons{
    margin: auto;
    width:450px;
    height:200px;
    background-color:rgb(96, 102, 108);
    display: flex;
    align-items: center;
    justify-content: center;
}

#boing,#floop,#bloop{
    border-radius: 25px;
    font-size:1em;
    margin: 1em;
    padding:0.25em;
}

#boing{
    background-color:rgb(255, 215, 215);
}

#floop{
    background-color:rgb(219, 254, 251);
}

#bloop{
    background-color:rgb(215, 228, 255);
}